[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "appendices/turbine-test-bed.wiki"]
	path = appendices/turbine-test-bed.wiki
	url = https://github.com/UNH-CORE/turbine-test-bed.wiki
[submodule "appendices/RM2-tow-tank.wiki"]
	path = appendices/RM2-tow-tank.wiki
	url = https://github.com/UNH-CORE/RM2-tow-tank.wiki
