.authors {
    vertical-align: bottom;
}

.input_prompt, .input_area, .prompt {
    display:none !important;
}

.float-right {
    float: right;
    /*margin: 0 0 10px 10px;*/
    padding-left: 1.5em;
}

/* Customize text cells */
div.text_cell_render {
    font-size: 140%;
    padding: 0;
    overflow: hidden;
}

/* Some stuff from https://github.com/ellisonbg/talk-scipy2013/blob/master/FeaturesAndScope.ipynb#/43 */

.rendered_html h1 {
    margin-bottom: 5px;
    color: #003591;
    text-align: center;
    line-height: 1.2;
    page-break-before: always;
}

.rendered_html h2 {
    margin-bottom: 10px;
    color: #003591;
    line-height: 1.0;
}

.rendered_html h3 {
    color: #003591;
    font-size: 80%;
    margin-bottom: 4px;
}

.rendered_html li {
    line-height: 1.5;
}

.prompt {
    font-size: 120%;
}

.CodeMirror-lines {
    font-size: 120%;
}

.output_area {
    font-size: 120%;
}

h1.bigtitle {
    margin: 4cm 1cm 4cm 1cm;
    font-size: 300%;
}

h3.point {
    font-size: 200%;
    text-align: center;
    margin: 2em 0em 2em 0em;
    #26465D
}

.logo {
    margin: 20px 0 20px 0;
}

a.anchor-link {
    display: none;
}

h1.title {
    font-size: 250%;
}

.output_area, .output_subarea {
    margin-left: auto !important;
    margin-right: auto !important;
}

.gap-above
{
  padding-top: 200px;
  }

.gap01
{
  padding-top: 10px;
  }

.gap05
{
  padding-top: 50px;
  }

.gap1
{
    padding-top: 100px;
}

.gap2
{
    padding-top: 200px;
}

.gap3
{
    padding-top: 300px;
}

.reveal {
    overflow-y: hidden;
    overflow-x: hidden;
}

.reveal pre {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  background: #2d2d2d; /*#3F3F3F;*/
  color: #DCDCDC;
}

.rendered_html .citation {
    font-style: italic;
    color: #808080;
    font-size: 65%;
}

.reveal .MathJax_Display, .reveal .MathJax_SVG_Display {
    margin-top: 10px;
    margin-bottom: 10px;
}

.reveal section img {
    margin-top: 0px;
    margin-bottom: 0px;
}

.rendered_html h2:first-child {
    margin-top: 0em; /* .636 em */
}

.rendered_html *+p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.reveal p {
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 1.3;
}

.rendered_html *+ol, .rendered_html *+ul {
    margin-top: 10px; /* 1em */
    margin-bottom: 10px;
}

.reveal .slides > section.present, .reveal .slides > section > section.present {
    display: block;
    z-index: 11;
    opacity: 1;
    padding: 0px;
}

.reveal .slide-number {
    right: 28px;
    font-size: 75%;
}

.reveal .controls {
    right: 1px;
    bottom: 25px;
}

figure {
    text-align: center;
}
